/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    -ms-overflow-style: none;
}


::-webkit-scrollbar {
 display: none;
}

/*특정 부분 스크롤바 없애기*/

.box{
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
 display:none;
}

.recommendation-section {
    text-align: center;
    margin: 20px;
}

.recommendation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#search-results {
    float: left;
    position: absolute;  /* 화면에 고정 */
    top: 0px;  /* 네비게이션 바 아래에 위치 */
    left: 0;  /* 화면의 왼쪽 끝에 딱 붙게 */
    z-index: 3;  /* 맵 위에 표시되도록 설정 */
    background-color: rgba(255, 255, 255, 0.8); /* 배경을 약간 투명하게 설정 */
    padding: 20px;  
    max-height: 80vh;  
    width: 50%;  
    overflow-y: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



/* 카드 스타일 */
.cafe-card {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    padding: 12px;
    margin: 5px;
    flex-direction: row-reverse; /* 이미지와 텍스트 위치 반전 */
}

.cafe-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 15px; /* 이미지와 텍스트 사이 간격 */
}

.cafe-info {
    flex: 1; /* 글이 이미지 옆에 나오도록 설정 */
}

.cafe-info p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 최대 줄 수 설정 */
    -webkit-box-orient: vertical;
    white-space: normal;
}

.keyword-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
    justify-content: flex-start; /* 키워드가 왼쪽 정렬되도록 */
}

.keyword {
    background-color: #e0e0e0;
    border-radius: 12px;
    padding: 6px 12px;
    font-size: 14px;
    color: #333;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* 화면 너비를 100%로 설정 */
    height: 120vh; /* 화면 높이를 100vh로 설정하여 전체 화면을 덮도록 함 */
    z-index: 1;    /* 지도 레이어를 낮게 설정 */
    margin: 0;     /* 여백을 0으로 설정 */
}


/* 네비게이션 바 스타일 */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; /* 항상 상단에 표시 */
}
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
